// dotfiles_dir "${HOME}/playground/dotfiles-link"
// dotfiles_dir "/root/paru"
// dotfiles_dir "${HOME}/error.log"
// dotfiles_dir "${HOME}/.config/dotfiles"
dotfiles_dir "${HOME}/dotfiles"
package_manager "paru" "cargo"

// export // error, empty
// export "arg" HOME="/home/user" // error, first entry must be property
// export ZDOTDIR=#true
// export /* leading */ ZDOTDIR /* after_key */ =     /* after_eq */      (/*before_ty_name*/bool/*after_ty_name*/) /*after_ty*/ "hello"/* trailing */
// export ZDOTDIR=(env)          "${XDG_CONFIG_HOME}/zsh" // invalid type
// export ZDOTDIR=   (source)   "${XDG_CONFIG_HOME}/zsh" // invalid type
// export ZDOTDIR=   (source)   zsh // invalid type

export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"
// export FISHCONFIG="$HOME/fish"
export BASHCONFIG="mnt/c/user/${USER}/bash"

bundle "zsh" {
    export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"
    install zsh
    cp "zsh/home/dot_zshrc" "${ZDOTDIR}/.zshr"
    cp "zsh/home/dot_zshenv" "${ZDOTDIR}/.zshenv"
}

bundle "shell-pretty" {
    install starship
    cp "starship/config/starship" "${XDG_CONFIG_HOME}/starship"
    zshrc position=end #"""
    eval "$(starship init zsh)"
    """#
    bashrc position=end #"""
    eval "$(starship init bash)"
    """#

    install lsd
    cp "lsd/config/lsd" "${XDG_CONFIG_HOME}/lsd"
    alias ls="lsd --group-directories-first"
    alias ll="lsd -l --group-directories-first --header"
    alias la="lsd -l --group-directories-first"
    alias ld="lsd -d"
    alias lt="lsd --tree --depth 3"
    alias lla="lsd -lA --group-directories-first --header"
}

bundle "terminal-emulator" {
    install alacritty 
    install kitty
    cp  "alacritty/config/alacritty" "${XDG_CONFIG_HOME}/alacritty"
    cp  "kitty/config/kitty" "${XDG_CONFIG_HOME}/kitty"
}

bundle "neovim" {
    install neovim 
    clone "git@github.com:ggallovalle/dotfiles.git" "${XDG_CONFIG_HOME}/nvim"
}
