// dotfiles_dir "${HOME}/playground/dotfiles-link"
// dotfiles_dir "/root/paru"
// dotfiles_dir "${HOME}/error.log"
// dotfiles_dir "${HOME}/.config/dotfiles"
// dotfiles_dir "${UNKNOWN}/dotfiles" // error: unknown env var
dotfiles_dir "${HOME}/dotfiles"

// package_managers // error: requires at least one argument
// package_managers "unknown" "cargo" // error: unknown is not a valid variant
// package_managers "apt" "cargo" // error: apt not available on Archlinux
// package_managers "paru" "cargo" "paru" // error: repeated package manager
// package_managers "paru"
// package_managers "paru" "cargo" "pacman"
package_managers "paru" "pacman"

// export // error, empty
// export "arg" HOME="/home/user" // error, first entry must be property
// export ZDOTDIR=(fun)/*comment*/#true
// export /* leading */ ZDOTDIR /* after_key */ =     /* after_eq */      (/*before_ty_name*/bool/*after_ty_name*/) /*after_ty*/ "hello"/* trailing */
// export ZDOTDIR=(env)          "${XDG_CONFIG_HOME}/zsh" // invalid type
// export ZDOTDIR=   (source)   "${XDG_CONFIG_HOME}/zsh" // invalid type
// export ZDOTDIR=   (source)   zsh // invalid type

// export FISHCONFIG="$HOME/fish"
env export BASHCONFIG="mnt/c/user/${USER}/bash"

bundle "zsh" {
    env export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"
    // install zsh pm=yay // error, yay not defined in package_managers
    // install zsh pm=choco // error, choco not available on Archlinux
    // install zsh pm=pacman version="exo.8.1" // error, invalid version format
    install zsh pm=pacman version=">=3.8.1"
    // install zsh
    cp "zsh/home/dot_zshrc" "${ZDOTDIR}/.zshr"
    ln "zsh/home/dot_zshenv" "${ZDOTDIR}/.zshenv"
    // whoami // error, unknown node
}

// bundle "zsh" // error repeated bundle name

bundle "shell-pretty" {
    install starship
    cp "starship/config/starship" "${XDG_CONFIG_HOME}/starship"
    source #"""
    eval "$(starship init zsh)"
    """# shell=zsh
    source position=end #"""
    eval "$(starship init bash)"
    """# shell=other

    install lsd
    cp "lsd/config/lsd" "${XDG_CONFIG_HOME}/lsd"
    alias ls="lsd --group-directories-first"
    alias ll="lsd -l --group-directories-first --header"
    alias la="lsd -l --group-directories-first"
    alias ld="lsd -d"
    alias lt="lsd --tree --depth 3"
    alias lla="lsd -lA --group-directories-first --header"
}

bundle "terminal-emulator" {
    install alacritty 
    install kitty
    cp  "alacritty/config/alacritty" "${XDG_CONFIG_HOME}/alacritty"
    cp  "kitty/config/kitty" "${XDG_CONFIG_HOME}/kitty"
}

bundle "neovim" {
    install neovim 
    clone "git@github.com:ggallovalle/dotfiles.git" "${XDG_CONFIG_HOME}/nvim"
}
